@import './../variables.scss';

.left-panel {
    width: $left-panel-width;
    height: 100vh;
    min-height: 200px;
    background-color: $left-panel-bg-color;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .site-logo {
        height: $site-logo-container-heihgt;
    }
    .bottom-nav {
        height: 100px;
        margin: 15px;
    }
    .icon-white{
        color: #ffffff;
    }
  
}