#root {
	.btn-primary.focus, .btn-primary:focus, .btn-secondary.focus, .btn-secondary:focus, .form-control:focus {
		box-shadow: none;
	}

	input.form-control, .input-group button {
		border-radius: 0;
	}

	.h-218 {
		height: 218px;
	}
}
 
