@import './../../common/variables.scss';

.orders-table-wrapper {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
    overflow-x: hidden;
    
    .sort-section {
        height: 100px;
        padding: 5px;
        
        .sort-dropdown {
            width: 150px;
        }
    }

    .orders-table {
        height: calc(100% - 100px);

        .order-table-header {
            border-width: 1px 0;
            border-style: solid;
            border-color: #e4e4e4;
            background-color: #ffffff;
        }

        .order-table-even-row {
            background-color: #efefef;
        }

        .order-table-selected-row {
            background-color: #c9dce4;
        }
    }
}