@import './../../common/variables.scss';

.orders-table-wrapper {
    height: calc(100vh - #{$header-height});
    
    .sort-section {
        height: 100px;
        padding: 5px;
        
        .sort-dropdown {
            width: 150px;
        }
    }

    .orders-table {
        height: calc(100vh - #{$header-height} - 100px);

        .order-table-header {
            border-width: 1px 0;
            border-style: solid;
            border-color: #e4e4e4;
            background-color: #fafafa;
        }
    }
}